langchain
langchain-experimental
transformers
pandas
datasets
google-api-python-client
vertexai

# chromadb==0.3.21
pypdf>=3.9.0
faiss-cpu
pydantic

# LLM-IMDB
networkx
fastapi
rich
google-search-results
uvicorn

httpx
requests>=2.31.0

# CSV Loader
tabulate

# BQ Tools
db-dtypes

# Workshop Lab022
google-cloud-aiplatform==1.32.0
shapely<2.0.
protobuf
tensorflow_hub
tensorflow_text

# Selenium URL Loader
selenium
unstructured[all-docs]

# Web Loader
bs4
pytesseract

# fix mypy linting error
requests
types-requests
types-protobuf

# SQL Agent
flask-sqlalchemy
SQLAlchemy
sqlalchemy-bigquery
python-bigquery-validator

certifi>=2023.07.22
aiohttp>=3.8.5
cryptography>=41.0.3

# Secret Manager
google-api-python-client
cloud-sql-python-connector[pg8000]
# psycopg2
psycopg2-binary
google-cloud-secret-manager
